*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
background-color: #0A233E;
color: white;
}

header{
display: flex;
align-items: center;
background-color: #0A323E;
justify-content: center;
padding: 10px;
border-bottom: 2px solid white;
}

#mainCalculator{
width: 650px;
height: 650px;
margin: 20px auto;
background-color: #0699AD;
display: grid;
grid-template-rows: repeat(12,1fr) ;
border-radius: 90px;
}

#display{
width: 80%;
height: 70%;
justify-self: center;
align-self: center;
display: flex;
align-items: end;
justify-content: center;
flex-direction: column;
grid-row-start: 1;
grid-row-end: 4;
background-color: white;
color: black;
border: 2px solid black;
border-radius: 55px;
}


#smallText {
font-size: 20px;
margin-right: 70px;
}
#bigText {
font-size: 40px;
margin-right: 50px;
}


#coloredButtons{
display: flex;
grid-row-start: 4;
grid-row-end: 5;
align-items: center;
justify-content:space-evenly;
}





#tinybuttonContainer{
grid-row-start: 5;
grid-row-end: -1;

display: grid;
grid-template-rows:repeat(4,1fr);
grid-template-columns:repeat(4,1fr);
}


.tinyButtons, .bigColoredButtons{
justify-self: center;
align-self: center;
border: 2px solid black;
padding: 25px;
border-radius: 50px;
background-color: white;
color: black;
}

#seven{
order: 1;
}

#eight{
order: 2;
}

#nine{
order: 3;
}

#divisionSymbol{
order: 4;
}


#four{
order: 5;
}


#five{
order: 6;
}


#six{
order: 7;
}


#multiplicationSymbol{
order: 8;
}


#one{
order: 9;
}


#two{
order: 10;
}


#three{
order: 11;
}


#substractionSymbol{
order: 12;
}


#equalitySymbol{
order: 13;
}


#zero{
order: 14;
}


#pointSymbol{
order: 15;
}


#additionSymbol{
order: 16;
}




